.contact-us-form {
  @apply bg-light;
}

.contact-us-form-container {
  @apply section-container
  text-center;
}

.contact-us-form-heading {
  @apply text-xl
  font-[500]
  text-gray-600
  leading-tight
  tracking-widest
  mb-3;
}

.contact-us-form-description {
  @apply text-sm
  font-[300]
  text-gray-500
  leading-tight
  tracking-wider
  mb-5;
}

.form {
  @apply grid
  gap-4
  bg-gray-200
  rounded-2xl
  p-4
  shadow-md
  border
  border-gray-300;
}

.form-group {
  @apply flex
  flex-col
  gap-2;
}

.form-label {
  @apply text-sm
  text-gray-800
  font-[600]
  tracking-widest
  uppercase;
}

.form-input,
.form-select,
.form-textarea {
  @apply text-center
  text-base
  px-2
  py-1
  rounded-lg
  border
  border-gray-400
  hover:border-gray-500
  text-gray-800
  tracking-wide
  shadow-inner
  focus:outline-none
  focus:ring-2
  focus:ring-primary;
}

.form-input::placeholder,
.form-select::placeholder,
.form-textarea::placeholder {
  @apply text-gray-400;
}

.form-input {
}

.form-select {
}

.form-textarea {
  @apply h-20;
}

.form-btn {
  @apply mt-2;
}

@media (max-width: 355px) {
  .contact-us-form-heading {
    @apply text-lg
    mb-1.5;
  }

  .contact-us-form-description {
    @apply text-xs
    mb-4;
  }

  .form {
    @apply gap-4
    p-3
    rounded-md;
  }

  .form-group {
    @apply gap-1.5;
  }

  .form-label {
    @apply text-xs;
  }

  .form-input,
  .form-select,
  .form-textarea {
    @apply text-sm
    px-2
    py-1
    rounded-md
    focus:ring-1;
  }

  .form-textarea {
    @apply h-16;
  }

  .form-btn {
    @apply mt-1;
  }
}
