.footer {
  @apply bg-dark
  text-light;
}

.footer-container {
  @apply grid
  grid-cols-1
  gap-7
  section-container
  tracking-wide
  lg:tracking-wider
  2xl:tracking-widest;
}

.footer-company-info {
}

.footer-company-logo {
}

.footer-company-description {
  @apply text-base
  lg:text-lg
  2xl:text-xl
  text-gray-300
  font-[300]
  leading-tight
  pt-1.5
  pb-5;
}

.footer-contact-info {
  @apply space-y-4;
}

.footer-phone,
.footer-email {
  @apply flex
  flex-col
  justify-center
  items-center
  space-y-2
  lg:space-y-4
  2xl:space-y-6;
}

.footer-phone-icon,
.footer-email-icon {
  @apply text-4xl
  lg:text-5xl
  2xl:text-6xl
  text-primary;
}

.footer-phone-number,
.footer-email-address {
  @apply text-base
  lg:text-lg
  2xl:text-xl
  font-[700]
  text-accent;
}

.footer-quick-links,
.footer-services-links,
.footer-industries-links,
.footer-useful-links,
.footer-social-links {
  @apply text-base
  lg:text-lg
  2xl:text-xl
  font-[700];
}

.footer-social-links {
}

.footer-copyright {
}

.footer-quick-links-heading,
.footer-services-links-heading,
.footer-industries-links-heading,
.footer-useful-links-heading,
.footer-social-links-heading {
  @apply uppercase
  text-gray-500
  mb-3
  lg:mb-4
  2xl:mb-5;
}

.footer-quick-links-list,
.footer-services-links-list,
.footer-industries-links-list,
.footer-useful-links-list {
  @apply space-y-2.5
  lg:space-y-3
  2xl:space-y-4;
}

.footer-social-links-list {
  @apply flex
  flex-row
  gap-4
  items-center
  justify-center
  text-2xl
  lg:text-3xl
  2xl:text-4xl;
}

.footer-quick-link,
.footer-service-link,
.footer-industry-link,
.footer-useful-link,
.footer-social-link {
  @apply text-gray-300;
}

.footer-copyright {
  @apply text-gray-500
  text-sm
  lg:text-base
  2xl:text-lg
  tracking-widest
  space-y-1.5
  lg:space-y-2
  2xl:space-y-3;
}

.footer-copyright-text {
}

.footer-copyright-icon {
  @apply inline
  mr-1.5;
}

.footer-rights-reserved {
}

@media (max-width: 355px) {
  .footer-container {
    @apply gap-5;
  }

  .footer-company-description {
    @apply text-sm
    pt-1
    pb-3.5;
  }

  .footer-contact-info {
    @apply space-y-3.5;
  }

  .footer-phone,
  .footer-email {
    @apply space-y-1.5;
  }

  .footer-phone-icon,
  .footer-email-icon {
    @apply text-3xl;
  }

  .footer-phone-number,
  .footer-email-address {
    @apply text-sm
    font-[600];
  }

  .footer-quick-links,
  .footer-services-links,
  .footer-industries-links,
  .footer-useful-links,
  .footer-social-links {
    @apply text-sm
    font-[600];
  }

  .footer-quick-links-heading,
  .footer-services-links-heading,
  .footer-industries-links-heading,
  .footer-useful-links-heading,
  .footer-social-links-heading {
    @apply mb-2.5;
  }

  .footer-quick-links-list,
  .footer-services-links-list,
  .footer-industries-links-list,
  .footer-useful-links-list {
    @apply space-y-2;
  }

  .footer-social-links-list {
    @apply gap-3
    text-xl;
  }

  .footer-copyright {
    @apply text-xs
    space-y-1;
  }

  .footer-copyright-icon {
    @apply inline
    mr-1;
  }
}
