.footer {
  @apply bg-dark
  text-light;
}

.footer-container {
  @apply xl:px-2
  text-center
  md:text-left
  grid
  grid-cols-1
  md:grid-cols-2
  lg:grid-cols-3
  xl:grid-cols-5
  gap-7
  lg:gap-9
  2xl:gap-11
  section-container
  tracking-wide
  lg:tracking-wider
  2xl:tracking-widest;
}

.footer-company-info {
  @apply xl:col-span-5
  xl:text-center
  xl:mb-6;
}

.footer-company-logo {
}

.footer-company-description {
  @apply text-sm
  lg:text-base
  2xl:text-lg
  text-gray-300
  font-[300]
  leading-tight
  pt-1
  pb-4;
}

.footer-contact-info {
  @apply space-y-4
  lg:space-y-5
  2xl:space-y-6;
}

.footer-phone,
.footer-email {
  @apply flex
  flex-col
  md:flex-row
  justify-center
  md:justify-start
  xl:justify-center
  items-center
  gap-2
  lg:gap-3
  2xl:gap-4;
}

.footer-phone-icon,
.footer-email-icon {
  @apply text-2xl
  lg:text-3xl
  2xl:text-4xl
  text-primary;
}

.footer-phone-number,
.footer-email-address {
  @apply text-sm
  lg:text-base
  2xl:text-lg
  font-[700]
  text-accent;
}

.footer-quick-links,
.footer-services-links,
.footer-industries-links,
.footer-useful-links,
.footer-social-links {
  @apply text-sm
  lg:text-base
  2xl:text-lg
  font-[700];
}

.footer-social-links {
}

.footer-quick-links-heading,
.footer-services-links-heading,
.footer-industries-links-heading,
.footer-useful-links-heading,
.footer-social-links-heading {
  @apply text-gray-500
  mb-3
  lg:mb-4
  2xl:mb-5;
}

.footer-quick-links-list,
.footer-services-links-list,
.footer-industries-links-list,
.footer-useful-links-list {
  @apply space-y-3
  lg:space-y-4
  2xl:space-y-5;
}

.footer-social-links-list {
  @apply flex
  flex-row
  gap-4
  lg:gap-5
  2xl:gap-6
  items-center
  justify-center
  md:justify-start
  text-xl
  lg:text-2xl
  2xl:text-3xl;
}

.footer-quick-link,
.footer-service-link,
.footer-industry-link,
.footer-useful-link,
.footer-social-link {
  @apply text-gray-300;
}

.footer-copyright {
  @apply md:col-span-2
  lg:col-span-3
  xl:col-span-5
  text-center
  text-gray-500
  font-[300]
  text-sm
  lg:text-base
  2xl:text-lg
  space-y-2
  lg:space-y-3
  2xl:space-y-4
  xl:mt-6;
}

.footer-copyright-text {
}

.footer-copyright-icon {
  @apply inline
  mr-1.5
  lg:mr-2
  2xl:mr-2.5;
}

.footer-rights-reserved {
}

@media (max-width: 355px) {
  .footer-container {
    @apply gap-5;
  }

  .footer-company-description {
    @apply text-xs
    pt-0
    pb-3;
  }

  .footer-contact-info {
    @apply space-y-3;
  }

  .footer-phone,
  .footer-email {
    @apply gap-1;
  }

  .footer-phone-icon,
  .footer-email-icon {
    @apply text-xl;
  }

  .footer-phone-number,
  .footer-email-address {
    @apply text-xs
    font-[600];
  }

  .footer-quick-links,
  .footer-services-links,
  .footer-industries-links,
  .footer-useful-links,
  .footer-social-links {
    @apply text-xs
    font-[600];
  }

  .footer-quick-links-heading,
  .footer-services-links-heading,
  .footer-industries-links-heading,
  .footer-useful-links-heading,
  .footer-social-links-heading {
    @apply mb-2;
  }

  .footer-quick-links-list,
  .footer-services-links-list,
  .footer-industries-links-list,
  .footer-useful-links-list {
    @apply space-y-2;
  }

  .footer-social-links-list {
    @apply gap-3
    text-lg;
  }

  .footer-copyright {
    @apply text-xs
    space-y-1;
  }

  .footer-copyright-icon {
    @apply inline
    mr-1;
  }
}
