.about-us-introduction {
  @apply bg-light;
}

.about-us-introduction-container {
  @apply section-container;
}

.about-us-introduction-heading {
  @apply section-heading
  text-gray-600;
}

.about-us-introduction-description {
  @apply section-description
  text-gray-500;
}

.about-us-introduction-box {
  @apply overflow-hidden

  bg-gray-200
  border
  border-gray-300
  shadow
  rounded-xl
  hover:shadow-lg
  transition
  
  grid
  grid-cols-1
  md:grid-cols-2;
}

.about-us-introduction-img-box {
  @apply bg-[url('/images/about-us-introduction.webp')]
  bg-cover
  min-h-72
  sm:min-h-96;
}

.about-us-introduction-text-box {
  @apply flex
  flex-col
  items-center
  lg:items-start
  justify-center
  p-6
  lg:p-8
  2xl:p-10
  space-y-4
  lg:space-y-6
  2xl:space-y-8;
}

.about-us-introduction-text {
  @apply text-gray-900
  section-content-description;
}

.about-us-introduction-cta {
  @apply pt-4;
}

@media (max-width: 355px) {
  .about-us-introduction-box {
    @apply min-h-60;
  }

  .about-us-introduction-text-box {
    @apply p-4
    space-y-2;
  }

  .about-us-introduction-cta {
    @apply pt-2;
  }
}
