@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-content-width {
    @apply max-w-[1200px]
    mx-auto
    px-5
    sm:px-6
    md:px-8
    lg:px-10
    xl:px-12
    2xl:px-14;
  }

  @media (max-width: 355px) {
    .section-content-width {
      @apply px-2.5;
    }
  }
}

.body {
  @apply bg-[url('/images/body-bg.svg')] 
  bg-fixed 
  bg-opacity-30

  max-w-screen-2xl
  mx-auto

  antialiased
  
  shadow-xl
  rounded-lg;
}

.btn {
  @apply border-2
  border-primary
  whitespace-nowrap
  font-[700]
  text-center
  text-base
  lg:text-lg
  2xl:text-xl
  px-4
  lg:px-5
  2xl:px-6
  py-2
  lg:py-2.5
  2xl:py-3
  rounded-xl
  shadow-xl
  hover:shadow-2xl
  transition;
}

.btn-primary {
  @apply bg-primary
  !text-light
  hover:bg-success
  hover:border-success;
}

.btn-secondary {
  @apply bg-light
  text-primary
  hover:bg-dark
  hover:text-light;
}

@media (max-width: 355px) {
  .btn {
    @apply text-sm
    font-[600]
    rounded-lg
    px-3
    py-1.5;
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
