@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply bg-[url('/images/body-bg.svg')] bg-fixed bg-opacity-30
  max-w-screen-2xl
  mx-auto
  antialiased
  shadow-xl
  rounded-lg;
}

.btn {
  @apply border-2
  border-primary
  whitespace-nowrap
  font-[700]
  text-base
  lg:text-lg
  2xl:text-xl
  px-5
  lg:px-6
  2xl:px-7
  py-2.5
  lg:py-3
  2xl:py-3.5
  rounded-xl
  shadow-xl
  hover:shadow-2xl
  transition;
}

.btn-primary {
  @apply bg-primary
  !text-light
  hover:bg-success
  hover:border-success;
}

.btn-secondary {
  @apply bg-light
  text-primary
  hover:bg-dark
  hover:text-light;
}

@media (max-width: 355px) {
  .btn {
    @apply text-sm
    font-[600]
    px-4
    py-2;
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
