.header {
  @apply fixed
  z-10
  w-full
  left-0
  top-4
  
  section-content-width;
}

.header-container {
  @apply bg-light/90
  hover:bg-light/100
  transition
  backdrop-blur-sm

  max-w-[1220px]
  mx-auto
  
  grid
  grid-cols-[auto,1fr]
  items-center
  justify-center
  
  p-3
  lg:p-5
  2xl:p-7
  
  rounded-xl
  shadow-xl
  hover:shadow-2xl;

  animation: slide-down-fade-in 1s ease-out forwards;
}

.header-logo {
  @apply tracking-widest;
}

.kesef {
  @apply text-primary
  font-[900]
  text-2xl
  lg:text-3xl
  2xl:text-4xl;
}

.bpo {
  @apply text-accent
  font-[800]
  text-lg
  lg:text-xl
  2xl:text-2xl;
}

.nav {
  @apply hidden
  lg:block
  justify-self-end;
}

.nav-links {
  @apply flex
  flex-row
  items-center
  gap-5
  
  text-dark
  font-[700]
  tracking-wide;
}

.nav-link a {
  @apply relative
  lg:text-base
  2xl:text-lg;
}

.nav-link a::after {
  content: '';
  @apply absolute 
  left-1/2 
  -bottom-0.5 
  h-[2px] 
  w-0 
  bg-dark 
  transition-all 
  duration-300;
  transform: translateX(-50%);
}

.nav-link a:hover::after {
  @apply w-full;
}

.header-nav-cta {
  @apply lg:!text-base
  2xl:!text-lg
  lg:!px-4
  lg:!py-2
  2xl:!px-5
  2xl:!py-2.5;
}

.mobile-nav-toggle-btn {
  @apply justify-self-end
  lg:hidden
  size-8;
}

.mobile-nav {
  @apply col-span-2
  -mt-1
  pb-3;
}

.mobile-nav-divider {
  @apply border-t 
  border-gray-400 
  my-5;
}

.mobile-nav-links {
  @apply flex
  flex-col
  items-center
  justify-center
  gap-6;
}

.mobile-nav-link a {
  @apply text-dark
  hover:text-primary
  font-[800]
  text-base;
}

.mobile-nav-cta {
  @apply mt-3;
}

@media (max-width: 355px) {
  .header {
    @apply px-2.5;
  }

  .header-container {
    @apply p-2.5
    rounded-lg;
  }

  .kesef {
    @apply text-2xl;
  }

  .bpo {
    @apply text-lg;
  }

  .mobile-nav-toggle-btn {
    @apply size-6;
  }

  .mobile-nav {
    @apply pb-2.5;
  }

  .mobile-nav-divider {
    @apply my-3;
  }

  .mobile-nav-links {
    @apply gap-4;
  }

  .mobile-nav-link a {
    @apply text-sm
    font-[700];
  }
}
