.header {
  @apply fixed
  z-10
  w-full
  top-4;
}

.header-container {
  @apply bg-light/90
  hover:bg-light/100
  transition
  backdrop-blur-sm

  max-w-[1220px]
  mx-auto

  lg:text-lg
  
  grid
  grid-cols-[auto,1fr]
  items-center
  justify-center
  
  py-4
  px-4
  
  rounded-xl
  shadow-xl
  hover:shadow-2xl;

  animation: slide-down-fade-in 1s ease-out forwards;
}

.header-logo {
  @apply tracking-wider;
}

.kesef {
  @apply text-primary
  text-4xl
  font-[900];
}

.bpo {
  @apply text-accent
  text-2xl
  font-[800];
}

.nav {
  @apply hidden;
}

.nav-links {
  @apply flex
  flex-row
  items-center
  gap-6
  
  text-dark
  font-[700]
  tracking-wide;
}

.nav-link a {
  @apply relative;
}

.nav-link a::after {
  content: '';
  @apply absolute left-1/2 -bottom-1 h-[2.5px] w-0 bg-dark transition-all duration-300;
  transform: translateX(-50%);
}

.nav-link a:hover::after {
  @apply w-full;
}

.mobile-nav {
  @apply justify-self-end;
}

.menu-icon {
  @apply size-8;
}

.mobile-menu {
  @apply col-span-2
  -mt-1
  pb-4;
}

.mobile-menu-divider {
  @apply border-t 
  border-gray-400 
  my-3;
}

.mobile-nav-links {
  @apply flex
  flex-col
  items-center
  justify-center
  gap-4;
}

.mobile-nav-link a {
  @apply text-neutral-950
  active:text-primary;
}

.mobile-nav-cta {
  @apply mt-3;
}

@media (max-width: 355px) {
  .header {
    @apply px-2.5;
  }

  .header-container {
    @apply px-2.5
    py-2
    rounded-lg;
  }

  .header-logo {
    @apply tracking-wider;
  }

  .kesef {
    @apply text-primary
    text-2xl
    font-[900];
  }

  .bpo {
    @apply text-accent
    text-lg
    font-[800];
  }

  .menu-icon {
    @apply size-6;
  }

  .mobile-nav-link {
    @apply text-sm
    font-[600];
  }
}
