.mission-vision {
  @apply bg-mutedIndigo;
}

.mission-vision-container {
  @apply section-container;
}

.mission-vision-heading {
  @apply section-heading
  text-gray-600;
}

.mission-vision-description {
  @apply section-description
  text-gray-500;
}

.mission-vision-content {
  @apply flex
  flex-col
  md:flex-row
  gap-6
  lg:gap-8
  2xl:gap-10;
}

.mission,
.vision {
  @apply bg-cover
  rounded-xl
  shadow-xl
  hover:shadow-2xl
  transition
  p-6
  lg:p-8
  2xl:p-10
  relative
  overflow-hidden;
}

.mission::before,
.vision::before {
  @apply overlay;
}

.mission {
  @apply bg-[url('/images/mission-bg.webp')];
}

.vision {
  @apply bg-[url('/images/vision-bg.webp')];
}

.mission-content,
.vision-content {
  @apply relative
  text-white;
}

.mission-heading,
.vision-heading {
  @apply section-content-heading;
}

.mission-statement,
.vision-statement {
  @apply section-content-description;
}

@media (max-width: 355px) {
  .mission-vision-content {
    @apply gap-4;
  }

  .mission,
  .vision {
    @apply p-4;
  }
}
