.why-choose-us {
  @apply bg-deepIndigo;
}

.why-choose-us-container {
  @apply section-container;
}

.why-choose-us-heading {
  @apply uppercase
  text-2xl
  lg:text-3xl
  2xl:text-4xl
  font-[500]
  text-gray-300
  leading-tight
  tracking-widest
  mb-3
  lg:mb-4
  2xl:mb-5;
}

.why-choose-us-description {
  @apply text-base
  lg:text-lg
  2xl:text-xl
  font-[300]
  text-gray-400
  leading-tight
  tracking-wider
  mb-6
  lg:mb-7
  2xl:mb-8;
}

.why-choose-us-content {
  @apply grid
  grid-cols-1
  md:grid-cols-2
  gap-6
  lg:gap-8
  2xl:gap-10;
}

.why-choose-us-point {
  @apply bg-light
  flex
  flex-col
  items-center

  rounded-xl
  shadow-inner
  
  p-6
  lg:p-8
  2xl:p-10;
}

.why-choose-us-point-icon {
  @apply text-4xl
  lg:text-5xl
  2xl:text-6xl
  text-primary
  mb-5
  lg:mb-6
  2xl:mb-7;
}

.why-choose-us-point-heading {
  @apply text-xl
  lg:text-2xl
  2xl:text-3xl
  font-[600]
  text-gray-600
  leading-tight
  tracking-widest
  mb-3
  lg:mb-4
  2xl:mb-5;
}

.why-choose-us-point-text {
  @apply text-base
  lg:text-lg
  2xl:text-xl
  font-[300]
  text-gray-500
  leading-tight
  tracking-wider;
}

@media (max-width: 355px) {
  .why-choose-us-heading {
    @apply text-xl
    mb-1.5;
  }

  .why-choose-us-description {
    @apply text-sm
    mb-4;
  }

  .why-choose-us-content {
    @apply gap-4;
  }

  .why-choose-us-point {
    @apply p-4;
  }

  .why-choose-us-point-icon {
    @apply text-3xl
    mb-4;
  }

  .why-choose-us-point-heading {
    @apply text-lg
    mb-2;
  }

  .why-choose-us-point-text {
    @apply text-sm;
  }
}
