.home-hero {
  @apply min-h-screen
  
  bg-[url('/images/home-hero-bg.jpg')]
  bg-cover
  bg-fixed
  bg-center
  
  flex
  items-center
  justify-center
  
  relative;

  max-width: 100vw;
}

.home-hero::before {
  content: '';
  @apply absolute
  inset-0

  bg-gradient-to-b from-dark/80 via-dark/70 to-dark/60;
}

.home-hero-container {
  @apply relative
  text-center
  px-6;

  animation: slide-up-fade-in 1s ease-out forwards;
}

.home-hero-headline {
  @apply text-4xl
  font-[900]
  leading-tight
  tracking-widest
  uppercase
  text-gray-50

  mb-4;

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.home-hero-subheadline {
  @apply text-xl
  font-[500]
  leading-tight
  tracking-wider
  text-gray-200

  mb-5;

  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.home-hero-description {
  @apply text-base
  font-[300]
  leading-tight
  tracking-wide
  text-gray-300

  mb-8;
}

.home-hero-btns {
  @apply flex
  flex-col
  gap-3;
}

@media (max-width: 355px) {
  .home-hero-container {
    @apply px-3;
  }

  .home-hero-headline {
    @apply text-3xl
    mb-3;
  }

  .home-hero-subheadline {
    @apply text-lg
    mb-4;
  }

  .home-hero-description {
    @apply text-sm
    mb-7;
  }

  .home-hero-btns {
    @apply gap-2;
  }
}
